In [9]:
import pandas as pd
import sqlite3
from setting import database_path
con = sqlite3.connect(database=database_path)
with sqlite3.connect(database=database_path) as con:
    # OHLCV
    stock_sql_str = "select t.stock_id ,t.open,t.high ,t.low ,t.close,t.volume,t.amount,t.date  from stock_data t where t.date = '%s'" % (
        '2024-12-31')
    data = pd.read_sql_query(
        sql=stock_sql_str,
        con=con,
        index_col='date',
        parse_dates=['date']
    )

In [6]:
data.shape

(1889, 6)

In [27]:
# selected = data.df[data.df['close'] > 1].sort_values(by='volume', ascending=False)[:100,['stock_id']]
selected = data[data['close']>1].sort_values(by='amount', ascending=False).iloc[:100,0].reset_index()['stock_id']
selected

date
2024-12-31    00700
2024-12-31    00981
2024-12-31    09988
2024-12-31    03033
2024-12-31    01810
              ...
2024-12-31    03908
2024-12-31    01119
2024-12-31    01918
2024-12-31    02688
2024-12-31    00006
Name: stock_id, Length: 100, dtype: object

In [31]:
selected = selected.reset_index()['stock_id']

0     00700
1     00981
2     09988
3     03033
4     01810
      ...
95    03908
96    01119
97    01918
98    02688
99    00006
Name: stock_id, Length: 100, dtype: object

In [36]:
data[data['stock_id']=='00001']

           stock_id    open     high     low    close   volume       amount
date
2024-12-31    00001  40.004  40.4388  40.004  40.1006  2190255  91075607.55

In [8]:
import pandas_market_calendars as mcal
hkex = mcal.get_calendar('HKEX')
hkex.schedule(start_date='2024-01-01',end_date='2024-01-10')

In [7]:
hkex.valid_days(start_date='2024-01-01',end_date='2024-01-10')

DatetimeIndex(['2024-01-02 00:00:00+00:00', '2024-01-03 00:00:00+00:00',
               '2024-01-04 00:00:00+00:00', '2024-01-05 00:00:00+00:00',
               '2024-01-08 00:00:00+00:00', '2024-01-09 00:00:00+00:00',
               '2024-01-10 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='C')

In [10]:
hkex.schedule(start_date='2024-01-01',end_date='2024-01-10',tz=hkex.tz)

,market_open,break_start,break_end,market_close
2024-01-02,2024-01-02 09:30:00+08:00,2024-01-02 12:00:00+08:00,2024-01-02 13:00:00+08:00,2024-01-02 16:00:00+08:00
2024-01-03,2024-01-03 09:30:00+08:00,2024-01-03 12:00:00+08:00,2024-01-03 13:00:00+08:00,2024-01-03 16:00:00+08:00
2024-01-04,2024-01-04 09:30:00+08:00,2024-01-04 12:00:00+08:00,2024-01-04 13:00:00+08:00,2024-01-04 16:00:00+08:00
2024-01-05,2024-01-05 09:30:00+08:00,2024-01-05 12:00:00+08:00,2024-01-05 13:00:00+08:00,2024-01-05 16:00:00+08:00
2024-01-08,2024-01-08 09:30:00+08:00,2024-01-08 12:00:00+08:00,2024-01-08 13:00:00+08:00,2024-01-08 16:00:00+08:00
2024-01-09,2024-01-09 09:30:00+08:00,2024-01-09 12:00:00+08:00,2024-01-09 13:00:00+08:00,2024-01-09 16:00:00+08:00
2024-01-10,2024-01-10 09:30:00+08:00,2024-01-10 12:00:00+08:00,2024-01-10 13:00:00+08:00,2024-01-10 16:00:00+08:00